@import "tailwindcss";

:root {
  font-family: "SF Pro S", "SF Pro", "Hiragino Sans", system-ui, sans-serif;
}

@font-face {
  font-family: "SF Pro S";
  src: local(-apple-system);
  unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}
